@font-face {
    font-family: 'validation-icon';
    src:  url('../fonts/icomoon.eot?8gxs31');
    src:  url('../fonts/icomoon.eot?8gxs31#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8gxs31') format('truetype'),
        url('../fonts/icomoon.woff?8gxs31') format('woff'),
        url('../fonts/icomoon.svg?8gxs31#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

li[data-ui-id="menu-validationteam-validation-main-menu"] > a:before {
    font-family: 'validation-icon' !important;
    content: '\e912' !important;
}