<?php
/**
 * @var $block \Validationteam\Validation\Block\Success
 */
$validation_token = $block->checkIfValidationIsNeeded();
if (!empty($validation_token)):
    ?>
<div
    data-mage-init='{"Validationteam_Validation/js/validation": {}}'
    data-role='validation-modal'
    class='validation-modal'>
    <div class='modal-content'>
        <iframe
            data-role='validation-iframe'
            src='<?= /* @noEscape */ $block->getSubmitUrl($validation_token) ?>'
            allow='camera'
            ></iframe>
    </div>
</div>
<?php endif; ?>