.validation-modal {
    display: none;
    position: fixed;
    z-index: 30000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 6% auto;
        padding: 20px;
        width: 80%;
        height: 75%;

        iframe {
            height: 100%;
            width: 100%;
            border-width: 0;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }

    @media only screen and (max-width: 768px) {
        .modal-content {
            background-color: #fefefe;
            padding: 5px;
            width: 100%;
            height: 100%;

            iframe {
                height: 100%;
                width: 100%;
                border-width: 0;
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
    }

    &._show {
        display: block;
    }
}
