<div
    data-role='validation-iframe-container'
    data-mage-init='{"Validationteam_Validation/js/registration": {}}'
    data-settings-url='<?= /* @noEscape */ $block->getUrl("admin/system_config/edit/section/validation_settings"); ?>'
    data-credentials-url='<?= /* @noEscape */ $block->getUrl("validation/register/credentials"); ?>'>
    <iframe class='validation-iframe' scrolling='yes' src='<?= /* @noEscape */ $block->getData('registration_url') ?>'></iframe>
</div>
